
/* Cambios al main-panel lab */
.main-panel{
    position:absolute;
    margin-left: 25px;
    margin-top: 90px;
    background: none;
    width: 95%;
}

/* Estilo de los cuadritos de colores */
.cuadro{
    width: 50px; 
    height: 50px; 
    background-color: green;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
  }

/* Estilo de los tags de los cuadritos */
.tag{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 700;
}

.picker{
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin-right: 150px; */
    margin-top: 20px;
}

/* Colores de los cuadros */
#color1{
    background-color:rgb(219, 17, 17);
}

#color2{
    background-color: blueviolet;
}

#color3{
    background-color: green;
}

#color4{
    background-color: hotpink;
}

#color5{
    background-color: gray;
}

#color6{
    background-color: maroon;
}

#color7{
    background-color: magenta;
}

#color8{
    background-color: goldenrod;
}

#color9{
    background-color: yellow;
}

#color10{
    background-color: burlywood;
}

.content{
    padding:0%;
}

.card{
    padding: 30px;
}
  
.color-columns {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin: 10px; /* Ajusta el margen según tus necesidades */
    margin: 20px;
    text-align: center;
  }

@media screen and (max-width: 950px) {
    .color-columns {
        display: flex;
        flex-direction: column;
    }
    .column {
        margin-bottom: 20px; /* Ajusta el espaciado entre las columnas en modo vertical */
    }
}

  
.result{
    text-align: center;
}
/* 
.color-picker{
    margin-left: 500px;
    margin-top: 10px;
} */

  
@media screen and (max-width: 1330px){
    .navbar{
        span{
            font-size: 14px;
            margin-right: 10%;
        }
    }
    .main-panel{
        margin-top: 70px;
    }
}

@media screen and (max-width: 1200px){
    .main-panel{
        width: 93%;
    }
    
    .main-panel{
        margin-top: 50px;
    }
}

@media screen and (max-width: 950px){
    .main-panel{
        width: 90%;
    }

    .color-columns {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }
    .column {
        margin-bottom: 20px; /* Ajusta el espaciado entre las columnas en modo vertical */


        text-align: center;
    }
}


@media screen and (max-width: 775px){
    .main-panel{
        width: 86%;
    }
    
}

@media screen and (max-width: 600px){
    .main-panel{
        width: 380px;
        font-size: 20px;
    }
    .card{
        padding: 10px;
    }
    
}
