<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Quantum Robotics Dashboard</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
			name='viewport' />
		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
		<!--<link rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">-->
			<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/leds.css')}}">
		<script src="{{url_for('static', filename='js/plugin/roslib.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/plugin/math.js')}}"></script>		
		<script src="{{url_for('static', filename='js/plugin/eventemitter2.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/plugin/keyboardteleop.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/plugin/gauge.min.js')}}"></script>
	</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/" class="logo">
					<img src="{{url_for('static', filename='img/QLogo.png')}}" width="41" height="32">
					<small>Quantum Robotics</small>
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<div class="navbar-left navbar-form nav-search mr-md-3">
						<img src="{{url_for('static', filename='img/upiita.png')}}" width="41" height="32">
						<img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
						<img src="{{url_for('static', filename='img/uanl.png')}}" width="64" height="32">
						<img src="{{url_for('static', filename='img/UNAM.png')}}" width="28" height="32">
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<div class="nav-link dropdown-toggle">
								University Rover Challenge, June 2022.
								<img src="{{url_for('static', filename='img/mexico.png')}}" width="41" height="26">
							</div>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<a href="/">
							<i class="la la-dashboard"></i>
							<p>Nav</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="metrics">
							<i class="la la-dashboard"></i>
							<p>Metrics</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="arm">
							<i class="la la-cogs"></i>
							<p>Arm</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Dashboard Metrics</h4>
					<div class="row">
						
					</div>
					<div class="row">	
						<div class="col-lg-7">
							<div class="">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Arm Camera</h4>
									</div>
									<div class="card-body">
										<div class="chart-circle mt-4 mb-3">
											<img src ="http://192.168.1.6:8080/stream?topic=/zedArm/zed_arm/left_raw/image_raw_color&type=ros_compressed" id="" wigth="400" height="400" style="transform:rotate(180deg);">																	
										</div>
									</div>								
								</div>
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Arm Graphic</h4>
									</div>
									<div class="card-body">
										<div class="chart-circle mt-4 mb-3">
											<p><br><br><br><br><br><br><br><br><br><br><br></p>
										</div>
									</div>								
								</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Control</h4>
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<div class="col-md-6">
											<div class="card">
												<div>
													<div class="col-md-12">
														<div class="btn-group-vertical modal-dialog-centered btn-sm">
															<button type="button" class="btn btn-secondary" onclick="PresionadoDerecha('INTERMEDIO');getTxt();">Intermediate</button>
															<button type="button" class="btn btn-secondary" onclick="PresionadoDerecha('HOME');getTxt();">Home</button>
															<button type="button" class="btn btn-secondary" onclick="PresionadoDerecha('STORAGE');getTxt();">Storage</button>
														</div>
														<div class="btn-group-vertical modal-dialog-centered btn-sm">
															<button type="button" class="btn btn-secondary" onclick="PresionadoDerecha('PULL');getTxt();">Pull</button>
															<button type="button" class="btn btn-secondary" onclick="PresionadoDerecha('WRITE');getTxt();">Write</button>
															<button type="button" class="btn btn-secondary" onclick="PresionadoDerecha('FLOOR');getTxt();">Floor</button>                                                    
														</div>
													</div>
												</div>
										</div>
											<div class="card">
												<div class="card-body" >
													<p>Position X: <label  type="text" id="X"></label></p>
													<p>Position Y: <label  type="text" id="Y"></label></p>
													<p>Position Z: <label  type="text" id="Z"></label></p>
													<p>Position Phi: <label  type="text" id="Phi"></label></p>
													<p>Gripper Rotation: <label  type="text" id="Rotacion"></label></p>
													<p>Camera: <label  type="text" id="Camera"></label></p>
													<p>Q1: <label  type="text" id="Q1"></label></p>
													<p>Q2:<label  type="text" id="Q2"></label></p>
													<p>Q3:<label  type="text" id="Q3"></label></p>
													<p>Q4:<label  type="text" id="Q4"></label></p>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="card">
											<ul class="list-group list-group-flush">
												<li class="list-group-item">
													<div >
														<div class="row">
															<small class="text-muted">Position X</small>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">
																	<button type="button" class="btn btn-secondary " onclick="pressed(-parseFloat(document.getElementById('X_Txt').value), 1)">&nbsp;-&nbsp;</button>
																	<div class="input-group">
																		<input id="X_Txt" type="text" class="form-control" value="0.2" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button type="button" class="btn btn-secondary" onclick="pressed(parseFloat(document.getElementById('X_Txt').value), 1)">&nbsp;+&nbsp;</button>
																</div>
															</div>
														
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<small class="text-muted">Position Y</small>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">
																	<button type="button" class="btn btn-secondary " onclick="pressed(-parseFloat(document.getElementById('Y_Txt').value), 2)">&nbsp;-&nbsp;</button>
																	<div class="input-group">
																		<input id="Y_Txt" type="text" class="form-control" value="5" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button type="button" class="btn btn-secondary" onclick="pressed(parseFloat(document.getElementById('Y_Txt').value), 2)">&nbsp;+&nbsp;</button>
																</div>
															</div>
														
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<small class="text-muted">Position Z</small>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">
																	<button type="button" class="btn btn-secondary " onclick="pressed(-parseFloat(document.getElementById('Z_Txt').value), 3)">&nbsp;-&nbsp;</button>
																	<div class="input-group">
																		<input id="Z_Txt" type="text" class="form-control" value="0.2" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button type="button" class="btn btn-secondary" onclick="pressed(parseFloat(document.getElementById('Z_Txt').value), 3)">&nbsp;+&nbsp;</button>
																</div>
															</div>
														
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<small class="text-muted">Phi</small>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">
																	<button type="button" class="btn btn-secondary " onclick="pressed(parseFloat(document.getElementById('Phi_Txt').value), 4)">GO</button>
																	<div class="input-group">
																		<input id="Phi_Txt" type="text" class="form-control" value="0" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
															</div>
															</div>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<small class="text-muted">Gripper Rotation</small>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">
																	<button type="button" class="btn btn-secondary " onclick="pressed(parseFloat(document.getElementById('Gripper_Txt').value), 5)">GO</button>
																	<div class="input-group">
																		<input id="Gripper_Txt" type="text" class="form-control" value="0" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>


																	<!--<button type="button" class="btn btn-secondary " onclick="pressed(-parseFloat(document.getElementById('Gripper_Txt').value), 5)">&nbsp;-&nbsp;</button>
																	<div class="input-group">
																		<input id="Gripper_Txt" type="text" class="form-control" value="0" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button type="button" class="btn btn-secondary" onclick="pressed(parseFloat(document.getElementById('Gripper_Txt').value), 5)">&nbsp;+&nbsp;</button>-->
																</div>
															</div>
														
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<small class="text-muted">Gripper</small>
															<div class="col-md-12">
																<button type="button" class="btn btn-secondary " onmouseup="pressed(0, 6)" onmousedown="pressed(1, 6)">Abrir</button> 
																<button type="button" class="btn btn-secondary " onmouseup="pressed(0, 6)" onmousedown="pressed(-1, 6)">Cerrar</button>
															</div>
															
														</div>
													</div>
												</li>
												<li class="list-group-item ">
													<div>
														<div class="row">
															<small class="text-muted">Prismatic actuator</small>
															<div class="col-md-12">
																<button type="button" class="btn btn-secondary " onmouseup="pressed(0, 7)" onmousedown="pressed(1, 7)">Abrir</button> 
																<button type="button" class="btn btn-secondary " onmouseup="pressed(0, 7)" onmousedown="pressed(-1, 7)">Cerrar</button>
															</div>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<small class="text-muted">Camera</small>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">
																	<button type="button" class="btn btn-secondary " onclick="pressed(-parseFloat(document.getElementById('Camera_Txt').value), 8)">&nbsp;-&nbsp;</button>
																	<div class="input-group">
																		<input id="Camera_Txt" type="text" class="form-control" value="10" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button type="button" class="btn btn-secondary" onclick="pressed(parseFloat(document.getElementById('Camera_Txt').value), 8)">&nbsp;+&nbsp;</button>
																</div>
															</div>
														
														</div>
													</div>
												</li>
											  </ul>
											</div>
										</div>
									</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{{url_for('static', filename='js/plugin/gauge.js')}}"></script>
</body>

<script src="{{url_for('static', filename='js/arm.js')}}"></script>
<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/core/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/core/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chartist/chartist.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-mapael/jquery.mapael.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-mapael/maps/world_countries.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chart-circle/circles.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>
<script src="{{url_for('static', filename='js/ready.min.js')}}"></script>
<script src="{{url_for('static', filename='js/demo.js')}}"></script>

</html>