<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">

<head>
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style2.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<title>Quantum Robotics Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    
			<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='css/leds.css')}}">
			<link rel="shortcut icon" href="#">

			<script src="{{url_for('static', filename='js/config.js')}}"></script>
			<script src="{{url_for('static', filename='js/plugin/roslib.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/plugin/math.js')}}"></script>
			<script src="{{url_for('static', filename='js/plugin/Chart.min.js')}}"></script>
			<script src="/static/js/plugin/Chart.js"> </script>
			<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>-->
</head>

<body>
    <nav class="sidebar close">
        <header>
          <div class="image-text">
            <span class="image">
              <img src="../static/img/QLogo.png" alt="">
            </span>
    
            <div class="text logo-text">
              <span class="name">Quantum</span>
              <span class="profession">Robotics</span>
            </div>
          </div>
    
          <i class='bx bx-chevron-right toggle'></i>
        </header>
    
        <div class="menu-bar">
          <div class="menu">
    
            
    
            <ul class="menu-links">
              <li class="nav-link">
                <a href="metrics">
                  <i class='bx bx-bar-chart-alt-2 icon'></i>
                  <span class="text nav-text">Metrics</span>
                </a>
              </li>
    
              <li class="nav-link">
                <a href="/">
                  <i class='bx bx-grid-alt icon'></i>
                  <span class="text nav-text">Control</span>
                </a>
              </li>
    
              <li class="nav-link">
                <a href="arm">
                  <i class='bx bx-bot icon'></i>
                  <span class="text nav-text">Arm</span>
                </a>
              </li>
			  <li class="nav-link">
				<a href="arm_lab">
				  <i class='bx bx-atom icon'></i>
				  <span class="text nav-text">Laboratory Operation</span>
				</a>
			  </li>
              <!-- cambie el lab -->
              <li class="nav-link">
                <a href="laboratory">
                  <i class='bx bx-atom icon'></i>
                  <span class="text nav-text">Laboratory</span>
                </a>
              </li>
              <!-- cambie stratigraphic -->
              <li class="nav-link">
                <a href="stratigraphic">
                  <i class='bx bx-palette icon'></i>
                  <span class="text nav-text">Stratigraphic Profile</span>
                </a>
              </li>
    
              <li class="nav-link">
                <a href="coordinates2">
                  <i class='bx bx-map-alt icon'></i>
                  <span class="text nav-text">Autonomous Navigation</span>
                </a>
              </li>
    
              <!-- Cambio rosa para ver laboratory, stratigraphic-->
              <li class="nav-link">
                <a href="rocks">
                  <i class='bx bx-bar-chart-alt-2 icon'></i>
                  <span class="text nav-text">Rocks</span>
                </a>
              </li>
    
            </ul>
          </div>
    
          </div>
        </div>
    
      </nav>




      <section class="home">
        <div class="navbar">
          <img src="{{url_for('static', filename='img/mexico.png')}}" width="41" height="26" style="margin-top: 1.3%; margin-left: 2%;" >
          <span style="margin-left: 2%;margin-top: 1.3%; margin-right: 45%;"> University Rover Challenge, June 2024.</span>
    
          <div class="navbar-left navbar-form nav-search mr-md-3" style="margin-top: 1.2%; margin-left: 1.2%;">
            <img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
            <img src="{{url_for('static', filename='img/maxon.png')}}" width="64" height="25">
            <img src="{{url_for('static', filename='img/altium.png')}}" width="64" height="32">
            <img src="{{url_for('static', filename='img/P&G.png')}}" width="41" height="25">
            <img src="{{url_for('static', filename='img/gillette.png')}}" width="41" height="25">
            <img src="{{url_for('static', filename='img/protocase.png')}}" width="41" height="25">
        </div>
            
        </div>


    <div class="bloque">
				
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Dashboard Metrics</h4>
					<div class="row">
						
					</div>
					<div class="row">	
						<div class="col-lg-7">
							<div style="width: 60%; float: left; margin: 0.4%;">
								<div class="card" style="float: left; margin: 1%; width: 100%;">
									<div class="card-header">
										<h4 class="card-title" >Arm Graphic</h4>
									</div>
									<div class="card-body">
										<div class="chart-circle mt-4 mb-3" style="width:600px;height:600px;text-align:center;">
											<canvas id="Arm_Graphic" style="width:100%;height:100%;margin: 0 auto;"></canvas>											
										</div>
									</div>								
								</div>
								<div class="card" style="  float: left; margin: 1%; width: 100%;">
									<div class="card-header">
										<h4 class="card-title">Arm Camera</h4>
									</div>
									<div class="card-body">
										<div class="chart-circle mt-4 mb-3">
											<img src = "" id="Zed_Camera" wigth="400" height="400" style="transform:rotate(0deg);">
										</div>
									</div>								
								</div>
		
							</div>
						</div>
						<div class="col-lg-5">
							<div class="card" style="width: 35%; float: left; margin: 1%;">
								<div class="card-header">
									<h4 class="card-title">Control</h4>
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<div class="col-md-6">
											<div class="card">
												<div>
													<!--Predefined positions-->
													<div class="col-md-12">
														<div class="btn-group-vertical modal-dialog-centered btn-sm">
															<button id = "principal button" type="button" class="btn btn-secondary" onclick="predefinedPosition('INTERMEDIATE');getTxt();" style="margin-bottom: 25px; background-color:#18B4DA; border-color:#F4F4F4; color:white">Intermediate</button>
															<button id = "secondary button1" type="button" class="btn btn-secondary" onclick="predefinedPosition('HOME');getTxt();" style="margin-bottom: 25px; background-color:#0C76C4; border-color:#F4F4F4; color:white">Home</button>
															<button id = "secondary button2" type="button" class="btn btn-secondary" onclick="predefinedPosition('STORAGE');getTxt();" style="margin-bottom: 25px; background-color:#18B4DA; border-color:#F4F4F4; color:white">Storage</button>
														</div>
														<hr>
														<div class="btn-group-vertical modal-dialog-centered btn-sm">
															<button id = "secondary button3" type="button" class="btn btn-secondary" onclick="predefinedPosition('PULL');getTxt();" style="margin-bottom: 25px; background-color:#0C76C4; border-color:#F4F4F4; color:white">Pull</button>
															<button id = "secondary button4" type="button" class="btn btn-secondary" onclick="predefinedPosition('WRITE');getTxt();" style="margin-bottom: 25px; background-color:#18B4DA; border-color:#F4F4F4; color:white">Write</button>
															<button id = "secondary button5" type="button" class="btn btn-secondary" onclick="predefinedPosition('FLOOR');getTxt();" style="margin-bottom: 25px; background-color:#0C76C4; border-color:#F4F4F4; color:white">Floor</button>
															<button id = "secondary button6" type="button" class="btn btn-secondary" onclick="predefinedPosition('VERTICAL');getTxt();" style="margin-bottom: 25px; background-color:#18B4DA; border-color:#F4F4F4; color:white">Vertical</button>
															<button id = "secondary button7" type="button" class="btn btn-secondary" onclick="predefinedPosition('BOX');getTxt();" style="margin-bottom: 25px; background-color:#0C76C4; border-color:#F4F4F4; color:white">Box</button>
															<button id = "secondary button7" type="button" class="btn btn-secondary" onclick="predefinedPosition('FlOOR2');getTxt();" style="margin-bottom: 25px; background-color:#18B4DA; border-color:#F4F4F4; color:white">Floor Caja</button>
                                              
														</div>
													</div>
												</div>
										</div>
											<!--Labels of actual position-->
											<div class="card">
												<div class="card-body" >
													<p>Position X: <label  type="text" id="X"></label></p>
													<p>Rotation: <label  type="text" id="Y"></label></p>
													<p>Position Z: <label  type="text" id="Z"></label></p>
													<p>Position Phi: <label  type="text" id="Phi"></label></p>
													<p>Gripper Rotation: <label  type="text" id="Rotacion"></label></p>
													<p>Camera: <label  type="text" id="Camera"></label></p>
													<p>Camera Antenna: <label  type="text" id="CameraA"></label></p>
													<p>Q1: <label  type="text" id="Q1"></label></p>
													<p>Q2:<label  type="text" id="Q2"></label></p>
													<p>Q3:<label  type="text" id="Q3"></label></p>
													<p>Q4:<label  type="text" id="Q4"></label></p>
													
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="card">
											<ul class="list-group list-group-flush">
												<li class="list-group-item">
													<div >
														<div class="row">
															<medium class="text-muted">Position X</medium>
															<div class="col-md-12">
																
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">																	
																	<div class="input-group">
																		<input id="X_Txt" type="text" class="form-control" value="0.2" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button style="background-color:#18B4DA; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onclick="pressed(-parseFloat(document.getElementById('X_Txt').value), 1)">&nbsp;-&nbsp;</button>
																	<button style="background-color:#0C76C4; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary" onclick="pressed(parseFloat(document.getElementById('X_Txt').value), 1)">&nbsp;+&nbsp;</button>
																</div>
															</div>
														
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<medium class="text-muted">Rotation</medium>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">	
																	<button style="background-color:#F4F4F4; border-color:#18B4DA; color:black" type="button" class="btn btn-secondary " onclick="go_rotation(parseFloat(document.getElementById('Y_Txt').value))">GO</button>																
																	<div class="input-group">
																		<input id="Y_Txt" type="text" class="form-control" value="5" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button style="background-color:#18B4DA; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onclick="rotate(-parseFloat(document.getElementById('Y_Txt').value))">&nbsp;-&nbsp;</button>
																	<button style="background-color:#0C76C4; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary" onclick="rotate(parseFloat(document.getElementById('Y_Txt').value))">&nbsp;+&nbsp;</button>
																</div>
															</div>
														
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<medium class="text-muted">Position Z</medium>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">																	
																	<div class="input-group">
																		<input id="Z_Txt" type="text" class="form-control" value="0.2" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button style="background-color:#18B4DA; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onclick="pressed(-parseFloat(document.getElementById('Z_Txt').value), 3)">&nbsp;-&nbsp;</button>
																	<button style="background-color:#0C76C4; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary" onclick="pressed(parseFloat(document.getElementById('Z_Txt').value), 3)">&nbsp;+&nbsp;</button>
																</div>
															</div>
														
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<medium class="text-muted">Phi</medium>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">	
																	<button style="background-color:#F4F4F4; border-color:#18B4DA; color:black" type="button" class="btn btn-secondary " onclick="go_phi(parseFloat(document.getElementById('Phi_Txt').value))">GO</button>
																	<div class="input-group">
																		<input id="Phi_Txt" type="text" class="form-control" value="5" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button style="background-color:#18B4DA; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onclick="phi(-parseFloat(document.getElementById('Phi_Txt').value))">&nbsp;-&nbsp;</button>
																	<button style="background-color:#0C76C4; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary" onclick="phi(parseFloat(document.getElementById('Phi_Txt').value))">&nbsp;+&nbsp;</button>
															</div>
															</div>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<medium class="text-muted">Gripper Rotation</medium>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">
																	<button style="background-color:#F4F4F4; border-color:#18B4DA; color:black" type="button" class="btn btn-secondary " onclick="go(parseFloat(document.getElementById('Gripper_Txt').value))">GO</button>
																	<div class="input-group">
																		<input id="Gripper_Txt" type="text" class="form-control" value="5" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button style="background-color:#18B4DA; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onclick="griperRotation(-parseFloat(document.getElementById('Gripper_Txt').value))">&nbsp;-&nbsp;</button>
																	<button style="background-color:#0C76C4; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary" onclick="griperRotation(parseFloat(document.getElementById('Gripper_Txt').value))">&nbsp;+&nbsp;</button>
																	
																</div>
															</div>
														
														</div>
													</div>
												</li>
												<li class="list-group-item ">
													<div>
														<div class="row">
															<medium class="text-muted">End Tool</medium>
															<div class="col-md-12">
																<button style="background-color:#18B4DA; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onmouseup="movePrismatic(0)" onmousedown="movePrismatic(1)">Close</button>
																<button style="background-color:#0C76C4; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onmouseup="movePrismatic(0)" onmousedown="movePrismatic(-1)">Open</button> 																
															</div>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<medium class="text-muted">Camera</medium>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">																	
																	<div class="input-group">
																		<input id="Camera_Txt" type="text" class="form-control" value="10" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button style="background-color:#18B4DA; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onclick="moveCamera(-parseFloat(document.getElementById('Camera_Txt').value),1)">&nbsp;-&nbsp;</button>
																	<button style="background-color:#0C76C4; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary" onclick="moveCamera(parseFloat(document.getElementById('Camera_Txt').value),1)">&nbsp;+&nbsp;</button>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<medium class="text-muted">Camera Antenna</medium>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">																	
																	<div class="input-group">
																		<input id="CameraA_Txt" type="text" class="form-control" value="10" aria-label="Input group example" aria-describedby="btnGroupAddon">
																	</div>
																	<button style="background-color:#18B4DA; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onclick="moveCamera(-parseFloat(document.getElementById('CameraA_Txt').value),2)">&nbsp;-&nbsp;</button>
																	<button style="background-color:#0C76C4; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary" onclick="moveCamera(parseFloat(document.getElementById('CameraA_Txt').value),2)">&nbsp;+&nbsp;</button>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<div>
														<div class="row">
															<medium class="text-muted">EMERGENCY</medium>
															<div class="col-md-12">
																<div class="btn-group btn-sm" role="group" aria-label="Basic example">
																	<button style="background-color:#FF0000; border-color:#F4F4F4; color:white" type="button" class="btn btn-secondary " onclick="Emergency(true)">&nbsp;EMERGENCY&nbsp;</button>
																	
																</div>
															</div>
														
														</div>
													</div>
												</li>
											</ul>
											</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        
	
    
</body>
</section>





<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script src="{{url_for('static', filename='js/arm.js')}}" defer></script>
<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>

  <script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })
      searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    })
    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";
      }
    });
  </script>

</body>

</html>