<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Quantum Robotics Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}">
	<script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
	<script src="{{url_for('static', filename='js/core/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/core/bootstrapC.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/core/Chart.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/plugin/roslib.min.js')}}"></script>

</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/" class="logo">
					<img src="{{url_for('static', filename='img/QLogo.png')}}" width="41" height="32">
					Quantum Robotics
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<div class="navbar-left navbar-form nav-search mr-md-3">
						<img src="{{url_for('static', filename='img/upiita.png')}}" width="41" height="32">
						<img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<div class="nav-link dropdown-toggle">
								University Rover Challenge, June 2021.
								<img src="{{url_for('static', filename='img/mexico.png')}}" width="41" height="26">
							</div>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<a href="/">
							<i class="la la-dashboard"></i>
							<p>Dashboard</p>
						</a>
					</li>
					<li class="nav-item  active">
						<a href="ciencias">
							<i class="la la-flask"></i>
							<p>Science</p>
						</a>
					</li>
					<!-- <li class="nav-item">
						<a href="forms.html">
							<i class="la la-keyboard-o"></i>
							<p>Forms</p>
							<span class="badge badge-count">50</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="tables.html">
							<i class="la la-th"></i>
							<p>Tables</p>
							<span class="badge badge-count">6</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="notifications.html">
							<i class="la la-bell"></i>
							<p>Notifications</p>
							<span class="badge badge-success">3</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="typography.html">
							<i class="la la-font"></i>
							<p>Typography</p>
							<span class="badge badge-danger">25</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="icons.html">
							<i class="la la-fonticons"></i>
							<p>Icons</p>
						</a>
					</li>
					<li class="nav-item update-pro">
						<button data-toggle="modal" data-target="#modalUpdate">
							<i class="la la-hand-pointer-o"></i>
							<p>Update To Pro</p>
						</button>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Dashboard</h4>
					<div class="row">
						<!-- <div class="col-md-3">
							<div class="card card-stats card-warning">
								<div class="card-body ">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="la la-users"></i>
											</div>
										</div>
										<div class="col-7 d-flex align-items-center">
											<div class="numbers">
												<p class="card-category">Visitors</p>
												<h4 class="card-title">1,294</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card card-stats card-success">
								<div class="card-body ">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="la la-bar-chart"></i>
											</div>
										</div>
										<div class="col-7 d-flex align-items-center">
											<div class="numbers">
												<p class="card-category">Sales</p>
												<h4 class="card-title">$ 1,345</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card card-stats card-danger">
								<div class="card-body">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="la la-newspaper-o"></i>
											</div>
										</div>
										<div class="col-7 d-flex align-items-center">
											<div class="numbers">
												<p class="card-category">Subscribers</p>
												<h4 class="card-title">1303</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card card-stats card-primary">
								<div class="card-body ">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="la la-check-circle"></i>
											</div>
										</div>
										<div class="col-7 d-flex align-items-center">
											<div class="numbers">
												<p class="card-category">Order</p>
												<h4 class="card-title">576</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
													<div class="col-md-3">
								<div class="card card-stats">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center icon-warning">
													<i class="la la-pie-chart text-warning"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Number</p>
													<h4 class="card-title">150GB</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-bar-chart text-success"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Revenue</p>
													<h4 class="card-title">$ 1,345</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-times-circle-o text-danger"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Errors</p>
													<h4 class="card-title">23</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-heart-o text-primary"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Followers</p>
													<h4 class="card-title">+45K</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> -->
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Camara</h4>
									<p class="card-category">Web Video Server</p>
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<img id="img" wigth="300" height="300" src ="http://0.0.0.0:8080/stream?topic=/usb_cam_1/image_raw&type=ros_compressed">
									</div>
								</div>								
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Camara</h4>
									<p class="card-category">Web Video Server</p>
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<img id="img" wigth="300" height="300" src ="http://0.0.0.0:8080/stream?topic=/usb_cam_2/image_raw&type=ros_compressed">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Sensor 1</h4>
									<p class="card-category">Un Sensor</p>
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<canvas id="Sensor1" class="mt-4 mb-3"></canvas>
									</div>
								</div>
								<div class="card-footer">
									<div class="legend"><i class="la la-circle text-primary"></i> Completed</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Sensor 2</h4>
									<p class="card-category">Un Sensor</p>
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<canvas id="Sensor2" class="mt-4 mb-3"></canvas>
									</div>
								</div>
								<div class="card-footer">
									<div class="legend"><i class="la la-circle text-primary"></i> Completed</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Sensor 3</h4>
									<p class="card-category">Un Sensor</p>
								</div>
								<div class="card-body">
									<div class="chart-circle mt-4 mb-3">
										<canvas id="Sensor3" class="mt-4 mb-3"></canvas>
									</div>
								</div>
								<div class="card-footer">
									<div class="legend"><i class="la la-circle text-primary"></i> Completed</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="{{url_for('static', filename='js/plugin/ciencias.js')}}"></script>
</body>
<script src="{{url_for('static', filename='js/ROSManager copy.js')}}"></script>

<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/core/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/core/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chartist/chartist.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-mapael/jquery.mapael.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-mapael/maps/world_countries.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/chart-circle/circles.min.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>
<script src="{{url_for('static', filename='js/ready.min.js')}}"></script>
<script src="{{url_for('static', filename='js/demo.js')}}"></script>

</html>