<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Quantum Robotics Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
	<link rel="shortcut icon" href="#">

	<script src="{{url_for('static', filename='js/config.js')}}"></script>
	<script src="{{url_for('static', filename='js/plugin/roslib.min.js')}}"></script>

</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/" class="logo">
					<img src="{{url_for('static', filename='img/QLogo.png')}}" width="41" height="32">
					<small>Quantum Robotics</small>
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<div class="navbar-left navbar-form nav-search mr-md-3">
						<img src="{{url_for('static', filename='img/upiita.png')}}" width="41" height="32">
						<img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
						<img src="{{url_for('static', filename='img/uanl.png')}}" width="64" height="32">
						<img src="{{url_for('static', filename='img/UNAM.png')}}" width="28" height="32">
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<div class="nav-link dropdown-toggle">
								University Rover Challenge, June 2023.
								<img src="{{url_for('static', filename='img/mexico.png')}}" width="41" height="26">
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div clas="sidebar">
            {% include "sb.html"%}
        </div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Dashboard Nav</h4>
					<div class="row">	
						<div class="col-lg-4">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">DMS (Degrees, Minutes, Seconds)</h4>
								</div>
								<div class="card-body">
									<div class="form-group">
										<h6>Latitude</h6>

										<label for="lat">Choose a hemisphere:</label>

										<select name="lat" id="lat" onchange="dmsversdd()">
											<option value="nord">N +</option>
											<option value="sud">S -</option>
										</select>
										<div class="row">
											
											<div class="col-md-3">
												<input class="form-control sexagesimal" id="latitude_degrees" type="textbox" onkeyup="dmsversdd()">
											</div>
											<div class="col-md-1">
												<label for="latitude_degrees">&deg;</label>
											</div>
											<div class="col-md-3">
												<input class="form-control sexagesimal" id="latitude_minutes" type="textbox" onkeyup="dmsversdd()">
											</div>
											<div class="col-md-1">
												<label for="latitude_minutes">'</label>
											</div>
											<div class="col-md-3">
												<input class="form-control sexagesimalsec" id="latitude_seconds" type="textbox" onkeyup="dmsversdd()">
											</div>
											<div class="col-md-1">
												<label for="latitude_seconds">''</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<h6>Longitude</h6>

										<label for="lon">Choose a hemisphere:</label>

										<select name="lon" id="lon" onchange="dmsversdd()">
											<option value="est">E +</option>
											<option value="ouest">W -</option>
										</select>
										<div class="row">
											
											<div class="col-md-3">
												<input class="form-control sexagesimal" id="longitude_degrees" type="textbox" onkeyup="dmsversdd()">
											</div>
											<div class="col-md-1">
												<label for="longitude_degrees">&deg;</label>
											</div>
											<div class="col-md-3">
												<input class="form-control sexagesimal" id="longitude_minutes" type="textbox" onkeyup="dmsversdd()">
											</div>
											<div class="col-md-1">
												<label for="longitude_minutes">'</label>
											</div>
											<div class="col-md-3">
												<input class="form-control sexagesimalsec" id="longitude_seconds" type="textbox" onkeyup="dmsversdd()">
											</div>
											<div class="col-md-1">
												<label for="longitude_seconds">''</label>
											</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">DDM (Degrees, Decimal, Minutes)</h4>
								</div>
								<div class="card-body">
									<div class="form-group">
										<h6>Latitude</h6>

										<label for="lat">Choose a hemisphere:</label>

										<select name="lat" id="lat_ddm" onchange="ddmversdd()">
											<option value="nord">N +</option>
											<option value="sud">S -</option>
										</select>
										<div class="row">
											
											<div class="col-md-3">
												<input class="form-control sexagesimal" id="latitude_degrees_ddm" type="textbox" onkeyup="ddmversdd()">
											</div>
											<div class="col-md-1">
												<label for="latitude_degrees">&deg;</label>
											</div>
											<div class="col-md-3">
												<input class="form-control sexagesimal" id="latitude_minutes_ddm" type="textbox" onkeyup="ddmversdd()">
											</div>
											<div class="col-md-1">
												<label for="latitude_minutes">'</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<h6>Longitude</h6>

										<label for="lon">Choose a hemisphere:</label>

										<select name="lon" id="lon_ddm" onchange="ddmversdd()">
											<option value="est">E +</option>
											<option value="ouest">W -</option>
										</select>
										<div class="row">
											
											<div class="col-md-3">
												<input class="form-control sexagesimal" id="longitude_degrees_ddm" type="textbox" onkeyup="ddmversdd()">
											</div>
											<div class="col-md-1">
												<label for="longitude_degrees">&deg;</label>
											</div>
											<div class="col-md-3">
												<input class="form-control sexagesimal" id="longitude_minutes_ddm" type="textbox" onkeyup="ddmversdd()">
											</div>
											<div class="col-md-1">
												<label for="longitude_minutes">'</label>
											</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">DD (Decimal Degrees)</h4>								</div>
								<div class="card-body">
									<h6>Latitude</h6>
									<div class="col-lg-6" id="label_lat">	
									</div>
									<h6>Longitude</h6>
									<div class="col-lg-6" id="label_lon">	
									</div>
								</div>								
							</div>
						</div>
					</div>		
				</div>	
			</div>
		</div>
	</div>
</body>

<script src="{{url_for('static', filename='js/coordinates.js')}}"></script>
<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>

</html>