<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Quantum Robotics Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
	<link rel="shortcut icon" href="#">

	<script src="{{url_for('static', filename='js/config.js')}}"></script>
	<script src="{{url_for('static', filename='js/plugin/roslib.min.js')}}"></script>

</head>

<body>
	
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="/" class="logo">
					<img src="{{url_for('static', filename='img/QLogo.png')}}" width="41" height="32">
					<small>Quantum Robotics</small>
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">
					<div class="navbar-left navbar-form nav-search mr-md-3">
						<img src="{{url_for('static', filename='img/upiita.png')}}" width="41" height="32">
						<img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
						<img src="{{url_for('static', filename='img/uanl.png')}}" width="64" height="32">
						<img src="{{url_for('static', filename='img/UNAM.png')}}" width="28" height="32">
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown hidden-caret">
							<div class="nav-link dropdown-toggle">
								University Rover Challenge, June 2022.
								<img src="{{url_for('static', filename='img/mexico.png')}}" width="41" height="26">
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div clas="sidebar">
            {% include "sb.html"%}
        </div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Dashboard Nav</h4>
					<div class="row">	
						<div class="col-lg-4">									
									
								</div>								
							</div>
						</div>
						
										<div class="card">
											<div class="card-header">
												<h4 class="card-title">Coordinates</h4>
											</div>
											<big class="text-center">Objective</big>
											
											<div class="card-body text-center">
											
																									
											
														<button type="button" class="btn btn-secondary btn-look-value-plus" onclick="setStatus(0);getTxt()">&nbsp;GNSS only&nbsp;</button>
														<button type="button" class="btn btn-secondary btn-look-value-plus" onclick="setStatus(1);getTxt()">&nbsp;ARUCO&nbsp;</button> 
														<button type="button" class="btn btn-secondary btn-look-value-plus" onclick="setStatus(2);getTxt()">&nbsp;Hammer&nbsp;</button> 		
														<button type="button" class="btn btn-secondary btn-look-value-plus" onclick="setStatus(3);getTxt()">&nbsp;Bottle&nbsp;</button> 
												<div class="row">
													<div class="col-md-12">
													
													
													
																	
														<big class="text-center">Latitud</big>
														
														<div class="input-group">
															<input id="Latitud_Txt" type="text" class="form-control-go" value="38.39865" aria-label="Input group example" aria-describedby="btnGroupAddon">
														</div>
														<big class="text-center">Longitud</big>
														
														<div class="input-group">
														
															<input id="Longitud_Txt" type="text" class="form-control-go" value="-110.79025 " aria-label="Input group example" aria-describedby="btnGroupAddon">
														</div>
														
														<button type="button" class="btn btn-secondary btn-look-value-plus" onclick="botonClick();publish_coordinates()">&nbsp;Go&nbsp;</button>
														 				
						<div class="col-lg-4">
							
						</div>
						<div class="col-lg-4">
							
						</div>
					</div>		
				</div>	
			</div>
		</div>
	</div>
</body>

<script src="{{url_for('static', filename='js/coordinates.js')}}"></script>
<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>

</html>
