<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style2.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<title>Quantum Robotics Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
	<link rel="shortcut icon" href="#">
	<script src="{{url_for('static', filename='js/config.js')}}"></script>
	<script src="{{url_for('static', filename='js/plugin/roslib.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/config.js')}}"></script>
  <script src="{{url_for('static', filename='js/plugin/roslib.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/plugin/math.js')}}"></script>
  <script src="{{url_for('static', filename='js/plugin/Chart.min.js')}}"></script>
  <script src="/static/js/plugin/Chart.js"> </script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>-->
</head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="../static/img/QLogo.png" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Quantum</span>
          <span class="profession">Robotics</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        

        <ul class="menu-links">
          <li class="nav-link">
            <a href="metrics">
              <i class='bx bx-bar-chart-alt-2 icon'></i>
              <span class="text nav-text">Metrics</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/">
              <i class='bx bx-grid-alt icon'></i>
              <span class="text nav-text">Control</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="arm2">
              <i class='bx bx-bot icon'></i>
              <span class="text nav-text">Arm</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="arm_lab">
              <i class='bx bx-atom icon'></i>
              <span class="text nav-text">Laboratory Operation</span>
            </a>
          </li>
          <!-- cambie el lab -->
          <li class="nav-link">
            <a href="laboratory">
              <i class='bx bx-atom icon'></i>
              <span class="text nav-text">Laboratory</span>
            </a>
          </li>
          <!-- cambie stratigraphic -->
          <li class="nav-link">
            <a href="stratigraphic">
              <i class='bx bx-palette icon'></i>
              <span class="text nav-text">Stratigraphic Profile</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="coordinates2">
              <i class='bx bx-map-alt icon'></i>
              <span class="text nav-text">Autonomous Navigation</span>
            </a>
          </li>

          <!-- Cambio rosa para ver laboratory, stratigraphic-->
          <li class="nav-link">
            <a href="rocks">
              <i class='bx bx-diamond icon'></i>
              <span class="text nav-text">Rocks</span>
            </a>
          </li>

        </ul>
      </div>

      </div>
    </div>

  </nav>

  <section class="home">
    <div class="navbar" style="margin-left: 2%; margin-right: 3%;" >
			<img src="{{url_for('static', filename='img/mexico.png')}}" width="41" height="26" style="margin-top: 1.3%; margin-left: 2%;" >
			<span style="margin-left: 2%;margin-top: 1.3%; margin-right: 40%;"> University Rover Challenge, June 2025.</span>
	  
			<div class="navbar-left navbar-form nav-search mr-md-3" style="margin-top: 1.2%; margin-left: 1.2%;">
			  <img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
			<img src="{{url_for('static', filename='img/maxon.png')}}" width="64" height="25">
			<img src="{{url_for('static', filename='img/altium.png')}}" width="64" height="32">
			<img src="{{url_for('static', filename='img/P&G.png')}}" width="41" height="25">
			<img src="{{url_for('static', filename='img/gillette.png')}}" width="41" height="25">
			<img src="{{url_for('static', filename='img/protocase.png')}}" width="41" height="25">
			</div>
		</div>


      <div class="bloque">
				<div class="container-fluid">
					<h4 style="margin-top: 2%; margin-bottom: 2%;">Dashboard Nav</h4>
					
          <div class="row">	

            <!--Tarjeta grande càmara-->
						<div class="col-lg-6" style="display: inline;">
							<div class="card" style=" float: left; width: 75%; ">
								<div class="card-header">
									<h4 class="card-title">Camera</h4>
								</div>
								<div class="card-body">
									<div class="col-lg-6">
										<img src ="" id="Zed_Camera" width="100%" height="600">
									</div>
								</div>	
							</div>
						</div>

            <div class= "card"  style="width: 24%; float:right; padding: 2%; margin-left: 0%;" > 
              <h4 style="margin-bottom: 4%;">Cameras</h4>
              <div class="card-body text-center">
                <div class="row">
                  <h8 style="margin-bottom: 4%;">Camera server IP</h8>
                  <input id="Camera_IP" type="text" class="form-control" value="192.168.0.16" aria-label="Input group example" aria-describedby="btnGroupAddon">	
                  <h8 style="margin-bottom: 4%;">Camera server port</h8>
                  <input id="Camera_Port" type="text" class="form-control" value="9999" aria-label="Input group example" aria-describedby="btnGroupAddon">
                  <h5 style="margin-bottom: 4%; color: #ff0000;">Stop the camera after use or to change port to avoid problems!!!!</h5>
                  <div class="row">
                    <button id = "secondary button3" type="button" class="btn btn-secondary" onclick="connectCamera();" style="margin-bottom: 25px; background-color:#0C76C4; border-color:#ffffff; color:white; border-radius: 1rem; width: 40%">Connect</button>
                    <button id = "secondary button3" type="button" class="btn btn-secondary" onclick="stop_video();" style="margin-bottom: 25px; background-color:#c40c0f; border-color:#ffffff; color:white; border-radius: 1rem; width: 40%">Stop</button>
                  </div>
                </div>
              </div>		
            </div>
            
            <!--Estas están muertas ahorita xd-->
            <div class= "card"  style="width: 24%; float:right; padding: 2%; margin-left: 0%;" > 
              <h4 style="margin-bottom: 4%;">Move Camera</h4>
              <h7 style="margin-bottom: 4%;">Move by:</h7>
              <div class="card-body text-center">
                <div class="row">	
                  <div class="input-group">
                    <div class="row">
                      <button style="margin-bottom: 25px; background-color:#18B4DA; border: none; color:white; border-radius: 10px; padding: 10px 20px; font-size: 16px; font-weight: bold; cursor: pointer; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" onclick="">1</button> <!-- Set x and z values accordingly -->
                      <button style="margin-bottom: 25px; background-color:#279bda; border: none; color:white; border-radius: 10px; padding: 10px 20px; font-size: 16px; font-weight: bold; cursor: pointer; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" onclick="">10</button>
                      <button style="margin-bottom: 25px; background-color:#0C76C4; border: none; color:white; border-radius: 10px; padding: 10px 20px; font-size: 16px; font-weight: bold; cursor: pointer; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" onclick="">30</button>
                    </div>
                    <button style="margin-left: 30px; margin-bottom: 10px; background-color:#0C76C4; border: none; color:white; border-radius: 10px; padding: 10px 20px; font-size: 16px; font-weight: bold; cursor: pointer; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" onclick="moveCamera(parseFloat(document.getElementById('Camera_Txt_X').value),1)">↑</button>
                    <div class="row">
                      <button style="margin-bottom: 10px; background-color:#0C76C4; border: none; color:white; border-radius: 10px; padding: 10px 20px; font-size: 16px; font-weight: bold; cursor: pointer; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" onclick="moveCamera(parseFloat(document.getElementById('Camera_Txt_Z').value),1)">←</button>
                      <button style="margin-bottom: 10px; background-color:#0C76C4; border: none; color:white; border-radius: 10px; padding: 10px 20px; font-size: 16px; font-weight: bold; cursor: pointer; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" onclick="moveCamera(parseFloat(document.getElementById('Camera_Txt_Z').value),1)">→</button>
                    </div>
                    <button style="margin-left: 30px; margin-bottom: 25px; background-color:#0C76C4; border: none; color:white; border-radius: 10px; padding: 10px 20px; font-size: 16px; font-weight: bold; cursor: pointer; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);" onclick="moveCamera(parseFloat(document.getElementById('Camera_Txt_X').value),1)">↓</button>
                  </div>
                </div>
              </div>		
            </div>
      
        
			</div>
    </div>
  </section>



<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>

  <script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })
    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    })
    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";
      }
    });
  </script>

</body>

</html>