<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/css/style2.css">
  <link rel="stylesheet" href="../static/css/rocks.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

	<title>Quantum Robotics Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />

	<link rel="stylesheet" href="{{url_for('static', filename='css/ready.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/rocks.css')}}">
	<link rel="shortcut icon" href="#">

  <script src="{{url_for('static', filename='js/config.js')}}"></script>
	<script src="{{url_for('static', filename='js/plugin/roslib.min.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="jquery.js"></script> 


    <!-- Datos de tabla -->
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
    <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>

        

    <!-- Hojas de estilo bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="../static/img/QLogo.png" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Quantum</span>
          <span class="profession">Robotics</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

          <ul class="menu-links">
            <li class="nav-link">
              <a href="metrics">
                <i class='bx bx-bar-chart-alt-2 icon'></i>
                <span class="text nav-text">Metrics</span>
              </a>
            </li>
  
            <li class="nav-link">
              <a href="/">
                <i class='bx bx-grid-alt icon'></i>
                <span class="text nav-text">Control</span>
              </a>
            </li>
  
            <li class="nav-link">
              <a href="arm2">
                <i class='bx bx-bot icon'></i>
                <span class="text nav-text">Arm</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="arm_lab">
                <i class='bx bx-atom icon'></i>
                <span class="text nav-text">Laboratory Operation</span>
              </a>
            </li>
            <!-- cambie el lab -->
            <li class="nav-link">
              <a href="laboratory">
                <i class='bx bx-atom icon'></i>
                <span class="text nav-text">Laboratory</span>
              </a>
            </li>
            <!-- cambie stratigraphic -->
            <li class="nav-link">
              <a href="stratigraphic">
                <i class='bx bx-palette icon'></i>
                <span class="text nav-text">Stratigraphic Profile</span>
              </a>
            </li>
  
            <li class="nav-link">
              <a href="coordinates2">
                <i class='bx bx-map-alt icon'></i>
                <span class="text nav-text">Autonomous Navigation</span>
              </a>
            </li>
  
            <!-- Cambio rosa para ver laboratory, stratigraphic-->
            <li class="nav-link">
              <a href="rocks">
                <i class='bx bx-diamond icon'></i>
                <span class="text nav-text">Rocks</span>
                
              </a>
            </li>
  
          </ul>
        </div>
  
        </div>
    </div>

  </nav>

  <section class="home">
    <!-- Diseño barra -->
    <div class="navbar" style="margin-left: 2%; margin-right: 3%;" >
			<img src="{{url_for('static', filename='img/mexico.png')}}" width="41" height="26" style="margin-top: 1.3%; margin-left: 2%;" >
			<span style="margin-left: 2%;margin-top: 1.3%; margin-right: 40%;"> University Rover Challenge, June 2024.</span>
	  
			<div class="navbar-left navbar-form nav-search mr-md-3" style="margin-top: 1.2%; margin-left: 1.2%;">
			  <img src="{{url_for('static', filename='img/tec.png')}}" width="41" height="32">
			<img src="{{url_for('static', filename='img/maxon.png')}}" width="64" height="25">
			<img src="{{url_for('static', filename='img/altium.png')}}" width="64" height="32">
			<img src="{{url_for('static', filename='img/P&G.png')}}" width="41" height="25">
			<img src="{{url_for('static', filename='img/gillette.png')}}" width="41" height="25">
			<img src="{{url_for('static', filename='img/protocase.png')}}" width="41" height="25">
			</div>
		</div>








    <!-- Modal Styling -->
    <style>
      .modal-overlay {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.5);
       display: none;  /* Hidden by default */
       z-index: 1000;
   }

   /* Modal content */
   .modal-content {
       position: fixed;
       top: 50%; /* Initially hidden above the viewport */
       left: 0;
       width: 25%;
       max-height: 120%;
       background-color: white;
       border-radius: 8px;
       box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
       padding: 20px;
       overflow-y: auto;
       left: 50%;
       transform: translateX(-50%);
       transition: top 0.5s ease-out;  /* Smooth slide-in effect */
}
  

/* Make modal content scrollable if content exceeds available space */
.modal-body {
max-height: 60vh;  /* Set a maximum height (viewport height) */
overflow-y: auto;  /* Enable vertical scrolling if content overflows */
}

/* Modal content when active (on-screen) */
.modal-overlay.active .modal-content {
top: 10%;  /* Modal slides down into view */
}
   /* Modal content when active (on-screen) */
   .modal-overlay.active .modal-content {
       top: 10%;  /* Modal slides down into view */
   }

   /* Modal header */
   .modal-header {
       font-size: 24px;
       margin-bottom: 15px;
   }

   .modal-footer {
       margin-top: 20px;
       text-align: right;
   }

   .btn {
       padding: 10px 20px;
       margin: 0 5px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
   }

   .btn-secondary {
       background-color: #18B4DA;
       color: white;
   }

   .rock_img{
    width: 230px;
    height: auto;
   }

   .hover-button {
    background-color: #7fb0f0; /* Initial background color */
    border-color: #ffffff; /* Initial border color */
    color: rgb(255, 255, 255); /* Initial text color */
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 1rem;
    border: 2px solid #d2d2d2;
    font-family: 'Comic Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for color change */
}
   .hover-button:hover {
    background-color: #4d8bca; 
    border-color: #a2a2a2;
    color: #000000; 
}


   </style>













   <script>
       // Function to show the modal

       function openModal() {
           var modal = document.getElementById("myModal");
           modal.style.display = "block";  // Show the modal

           // Add a slight delay to allow for smooth animation
           setTimeout(function() {
               modal.classList.add("active");  // Slide the modal into view
           }, 10);  // Small timeout to ensure style display is applied before adding 'active'
       }

       function openDelModal(rock_name, rock_id) {
           var modal = document.getElementById("myDelModal");
           modal.style.display = "block";  // Show the modal

           const modalBody = modal.querySelector(".modal-body p");
           modalBody.innerHTML = `Are you sure you want to delete the rock: <b>${rock_name}</b>?`;

           modal.setAttribute("data-rock-id", rock_id);

           // Add a slight delay to allow for smooth animation
           setTimeout(function() {
               modal.classList.add("active");  // Slide the modal into view
           }, 10);  // Small timeout to ensure style display is applied before adding 'active'
       }

       function delete_rock(){
        const modal = document.getElementById("myDelModal");
        const rock_id = modal.getAttribute("data-rock-id");
        const params = new URLSearchParams();
        params.append("del_rock", rock_id);
        window.location.href = `/rocks?${params.toString()}`;
}

       // Function to close the modal
       function closeModal() {
           var modal = document.getElementById("myModal");
           // Remove 'active' to slide the modal out
           modal.classList.remove("active");

           // After animation completes, set display to none
           setTimeout(function() {
               modal.style.display = "none";  // Hide the modal
           }, 500);  // Match the timeout to the duration of the slide animation
       }

       // Function to close the modal
       function closeDelModal() {
           var modal = document.getElementById("myDelModal");
           // Remove 'active' to slide the modal out
           modal.classList.remove("active");

           // After animation completes, set display to none
           setTimeout(function() {
               modal.style.display = "none";  // Hide the modal
           }, 500);  // Match the timeout to the duration of the slide animation
       }



       // Close the modal if the user clicks outside of the modal content
       window.onclick = function(event) {
           var modal = document.getElementById("myModal");
           if (event.target == modal) {
               modal.style.display = "none";
       }
   }
      

       function redirectToPath() {
           // Replace '/new_path' with the actual path you want to redirect to
           window.location.href = "{{ url_for('rocks') }}";
       }

    
        $(document).ready(function () {
        $("#filterButton").click(function (name) {
        const type = $("#typeInput").val();
        const texture = $("#textureInput").val();
        const color = $("#colorInput").val();
        const mineral = $("#mineralInput").val();

        // Construct query parameters
        const params = new URLSearchParams();
        if (type !== "all") params.append("type", type);
        if (texture !== "all") params.append("texture", texture);
        if (color !== "all") params.append("color", color);
        if (mineral !== "all") params.append("mineral", mineral);

        
        window.location.href = `/rocks?${params.toString()}`;
        });
        });

        

       

        document.getElementById('imageInput1').addEventListener('change', function(event) {
        const container = document.getElementById('selectedImageContainer1');
        container.innerHTML = ''; 

        const file = event.target.files[0];
        if (file && file.type.startsWith('image/')) {
          const img = document.createElement('img');
          img.src = URL.createObjectURL(file);
          img.style.maxWidth = '100%';
          img.style.maxHeight = '150px';
          img.alt = 'Selected Image';
          container.appendChild(img);
        } else {
          container.innerHTML = '<p>Please select a valid image file.</p>';
        }
      });                
   </script>








<!-- Popup Crear -->
<div id="myModal" class="modal-overlay">
  <div class="modal-content">
      <div class="modal-header">
          <h4>Das New Rock</h4>
      </div>
      <div class="modal-body">
          <p>Insert the charachteristics of a new Rock in here</p>
          
          <!-- Form starts here -->
           <center>
          <form id="modalForm" action="/rocks" enctype="multipart/form-data" method="POST">

              <!-- Rock Name-->
              <div class="form-group">
                  <label for="name">Rock Name:</label><br>
                  <input type="text" id="name" name="name" class="form-control" placeholder="ex. Granite" required><br><br>
              </div>

              <!-- Rock Type -->
              <div class="form-group">
                  <label for="type">Rock Type:</label><br>
                  <input type="text" id="type" name="type" class="form-control" placeholder="ex. Sedimentary" required><br><br>
              </div>

              <!-- Rock Texture -->
              <div class="form-group">
                  <label for="texture"> Texture:</label><br>
                  <input type="text" id="texture" name="texture" class="form-control" placeholder="ex. Detrital" required><br><br>
              </div>

              <!-- Rock Colors -->
              <div class="form-group">
                  <label for="colors">Rock Colors:</label><br>
                  <input type="text" id="colors" name="colors" class="form-control" placeholder="ex. Green, Blue, Grey" required><br><br>
              </div>

              <!-- Rock Minerals -->
              <div class="form-group">
                <label for="minerals">Rock Minerals:</label><br>
                <input type="text" id="minerals" name="minerals" class="form-control" placeholder="ex. quartz, geothithe, hematite" required><br><br>
            </div>

            <!-- Image -->
              <!-- Form Group for the Image Upload -->
              <div class="form-group">
                <label for="image">Upload Image:</label>
                <input type="file" id="image" name="image" class="form-control" accept="image/*"  required>
            </div>
            
              

          

              <!-- Footer/Buttons -->
              <div class="modal-footer" style="display: flex; justify-content: center; width: 100%; gap: 10px;">
               <!-- Close -->
                  <button type="button" class="btn btn-secondary btn-look-value-plus" style="background-color:#18B4DA; color:white; border-radius: 1rem;" onclick="closeModal()">
                      &nbsp;Close&nbsp;
                  </button>
                  <!-- Create -->
                    <button type="submit" class="btn btn-secondary btn-look-value-plus" style="background-color:#0C76C4; color:white; border-radius: 1rem;">
                        &nbsp;Create&nbsp;
                    </button>
                 
              </div>
          </form>
          </center>
          <!-- Form ends here -->
        </div>
      </div>
    </div>
  
<!-- Fin PopUp Crear -->



<!-- Popup Delete -->
<div id="myDelModal" class="modal-overlay">
  <div class="modal-content">
      <div class="modal-header">
          <h4>Deletion</h4>
      </div>
      <div class="modal-body">
          <p>¿Sure you want to delete this field?</p>
          
          <!-- Form starts here -->
           <center>
              <!-- Footer/Buttons -->
              <div class="modal-footer" style="display: flex; justify-content: center; width: 100%; gap: 10px;">
               <!-- Close -->
                  <button type="button" class="btn btn-secondary btn-look-value-plus" style="background-color:#18B4DA; color:white; border-radius: 1rem;" onclick="closeDelModal()">
                      &nbsp;Close&nbsp;
                  </button>
                  <!-- Create -->
                    <button type="submit" class="btn btn-secondary btn-look-value-plus" 
                    style="background-color:#fb4d73; color:white; border-radius: 1rem;"
                    onclick = "delete_rock();closeDelModal()">
                        &nbsp;Delete&nbsp;
                    </button>
              </div>
          </center>
        </div>
      </div>
    </div>

  





    




<!-- Mostrado -->
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
          
          
					<h1 class="page-title">Rocks Database</h1>
                    <!-- Filters --> 
                    <div class="container-fluid p-5">
                      <div class="table-responsive" id="mydatatable-container" style="background-color: white; border-radius: 1.5rem; padding: 3%;">
                        <label for="typeInput">Type:</label>
                        <select id="typeInput">
                          <option value="all">All</option>
                          {% for rock_type in rock_types %}
                            <option value="{{ rock_type }}">{{ rock_type }}</option>
                          {% endfor %}
                        </select>
                        
                        <label for="textureInput">Texture:</label>
                        <select id="textureInput">
                            <option value="all">All</option>
                            {% for texture in textures %}
                            <option value="{{ texture }}">{{ texture }}</option>
                            {% endfor %}
                        </select>
                      
                        <label for="colorInput">Color:</label>
                        <select id="colorInput">
                            <option value="all">All</option>
                            {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                      
                        <label for="mineralInput">Mineral:</label>
                        <select id="mineralInput">
                            <option value="all">All</option>
                            {% for mineral in minerals %}
                            <option value="{{ mineral }}">{{ mineral }}</option>
                            {% endfor %}
                        </select>

                        <button type="button" 
                        class="btn btn-secondary btn-look-value-plus"  
                        style="background-color:#18B4DA; color:white; border-radius: 1rem;"
                        id="filterButton"> &nbsp;Filter&nbsp; </button>

                        <!-- Fin Filters -->





                        <!-- Crear --> 
                        <button type="button" 
                         class="btn btn-secondary btn-look-value-plus"  
                         style="background-color:#0C76C4; border-color:#ffffff; color:white; border-radius: 1rem;" 
                         onclick="openModal()"> &nbsp;Create&nbsp; </button>

                        <div class="table-responsive" id="mydatatable-container" style="background-color: white; border-radius: 1.5rem; padding: 1%;">
                       
             




                            <!-- Tabla --> 
                            <table class="records_list table table-striped table-bordered table-hover" id="mydatatable">
                              <thead>
                                  <tr>
                                      <th style="width: 25%;">Rock</th>
                                      <th>Description</th>
                                  </tr>
                              </thead>
                  
                              <tbody id="fbody">
                                  {% for rock in rocks %}
                                      <tr>
                                          <td class="titulo_piedra">
                                              <img src="{{ rock[4] }}" class = 'rock_img' >
                                              {{ rock[1] }}<br>ID: {{ rock[0] }}
                                          </td>
                                          <td>
                                              <p class="minerales">
                                              Name: {{ rock[1] }}<br><br>
                                              </p>
                                              <p>
                                              Type: {{ rock[2] }}<br>
                                              Texture: {{ rock[3] }}<br>
                                              Color: {{ rock[5] }}<br>
                                              </p>
                                            </td>
                                          <td>
                                            <p class = 'minerales'>
                                                  Essential minerals: {{ rock[6] }}<br>
                                              </p>
                                              <p>ID: {{ rock[0] }}</p>
                                              <p>
                                            <button class="hover-button" type="button" onclick = "openDelModal( '{{ rock[1] }}' , '{{ rock[0] }}')">Delete</button>
                                          </td>
                                          
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                            </table>
                        </div>
                    </div>
                
                   <!-- Termina tabla -->  
				</div>	
			</div>
		</div>

  </div>
</body>
    

<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
<script src="{{url_for('static', filename='js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/stratigraphic.js')}}"></script>
  <script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })
    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    })
    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";
      }
    });
  </script>

</html>